:root {
  --background-color: #f0f0f0;
  --text-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.regionsContainer {
  padding: 20px 3%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.searchSection h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

table {
  width: 100%;
  margin-bottom: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 15vh;
}

.slider-item {
  flex-shrink: 0;
  width: 300px;
  height: auto;
}

.slider-item img {
  border-radius: 10px;
  width: 350px; height: 200px;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
}

.prev-btn {
  left: 5px;
}

.next-btn {
  right: 5px;
}

.prev-btn:hover, .next-btn:hover {
  background-color: red;
}

.slider-container:hover .prev-btn,
.slider-container:hover .next-btn {
  visibility: visible;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) 
{

  .regionsContainer {
    padding: 10px 3%;
  }

  .slider-wrapper,.slider-item 
  {
    gap: 20vh;
  }

  .slider-item img
  {
    width: 250px; height: 195px;
  }

  .prev-btn, .next-btn {
    padding: 8px 10px;
  }
}

@media (max-width: 480px) 
{
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .slider-wrapper
  {
    gap: 50px;
  }

  .slider-item img
  {
    width: 180px; height: 150px;
  }

  .prev-btn, .next-btn {
    padding: 5px 8px;
  }

  .slider-item
  {
    margin: 0 10px;
  }
}
