<div class="regionsContainer">
    <div class="searchSection" *ngIf="searchQuery" >
        <h2>Showing Results for: {{ searchQuery || 'All' }}</h2>
        <div *ngFor="let item of filteredItems" >
            <table>
                <button type="button" (click)="goDetail(item)">
                  <tr>
                    <td style="width: 20vh;">{{ item.title }}</td>
                    <td style="width: 20vh;"><img [src]="'https://wallpapercave.com/'+item.posterUrl+'.jpg'" style="width: 70px; height: 35px;"></td>
                  </tr>
                </button>
              </table>
        </div>
    </div>

    <div *ngFor="let region of regions">
        <h1>{{ region+" "+entType }}</h1>
        <div class="slider-container">
            <div class="slider-wrapper"
            [style.transform]="'translateX(-' + currentIndex[region] * itemWidth + 'px)'"
            [style.transition]="smoothTransition ? 'transform 0.5s ease-in-out' : 'none'">
                <div *ngFor="let ent of getVisibleEntertaiment(region);" class="slider-item">
                    <button type="button" (click)="goDetail(ent)">
                        <img [src]="'https://wallpapercave.com/'+ent.posterUrl+'.jpg'" style="width: 350px; height: 200px;">
                    </button>
                </div>
            </div>

            <button class="prev-btn" (click)="slidePrev(region)">Prev</button>
            <button class="next-btn" (click)="slideNext(region)">Next</button>
        </div>
    </div>

</div>
